html{
    padding:0%;
    margin: 0 auto;
    font-family: "Montserrat",'Century Gothic';
    overflow-x: hidden;
}
body {
    margin-bottom: 0;
  height: 100vh;
  align-items: center;
  
}


.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: rgb(22, 175, 175);
  width: 40vmax;
  z-index: -1;
  animation: move 9s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.blob2{
    position: absolute;
    top: 0;
    left: 0;
    fill: rgb(22, 175, 175);
    width: 35vmax;
    z-index: -1;
    animation: move 5s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}
@keyframes moves {
  0%   { transform: scale(1) translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  50%  { transform: scale(0.8, 1) translate(-80vw, -30vh) rotate(-160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1) translate(10px, -30px); }
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-align: left;
}

.nav li{
    display: inline-flex;
}
.logo{
    padding: 0;
}
.nav img{
    position: relative;
    height: 100px;
}
.nav a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100px;
    padding: 20px;
    font-size: 1.1em;
    font-weight: light;
    text-align:center;
    transition: 1s;
}
.nav i{
    font-size: 20px;
}
.nav a:hover{
    cursor: pointer;
    background-color: #000;
    color:#fff;
    transition: 1s;
}
.openMenu li{
    position: relative  ;
    display: flex;
    width: 20%;
}
.openMenu{
    display: none;
}
#toggle,label{
    display: none;
}

.img{
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(img.png);
    background-size: cover;
    height: 70vh;
    text-align: center;
    margin: -3.5% 0 1% 0;
}
.img h4{
    color: #fff;
    padding-top: 2%;
    font-size: 3em;
    font-weight: light;
}
.img-text p{
    color: #fff;
    text-align: center;
    padding-bottom: 1%;
}
.text{
    border: 3px solid #000;
    border-top: none;
}
.text p{
    padding-bottom: 10%;
}
.text a{
    color: rgb(22, 175, 175);
}
.img button{
    position: relative;
    text-transform: uppercase;
    height: 60px;
    width: 15%;
    background:transparent;
    border: 2px solid rgb(22, 175, 175);
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.8s;
}
.img button:hover{
    color: #fff;
    background-color: rgb(22, 175, 175);
}
.img button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background:rgb(81, 244, 190) ;
}
h3{
    border-bottom: 4px solid rgb(22, 175, 175);
    width: 25px;
    margin-left: 10px;
    border-left-width:20px;
    font-size: 2em;
}
.text{
    position: relative;
    background-color: #fff;
    padding: 1% 0 1% 1%;
    margin: 4% 24%;
    width: 50%;
}
.text a{
    text-decoration: none;
}
.ftr{
    border-top: 1px solid black;
    width: 100%;
    background-color: #fff;
    margin: 10% 0 0 0;
    text-align: center;
    z-index: 1;
    
    
}
.in{
    padding:1% 0 0 1%;
}
.ico ul{
    list-style: none;
}
.ico li{
    display: inline-block;
    padding-left: 1%;
    cursor: pointer;
}
.items{
    position: relative;
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    margin: 15% 0 0 0;
}
.items ul{
    list-style: none;
 
}
.items h2{
    border-bottom: 4px solid rgb(22, 175, 175);
    width: 25px;
    margin-left: 10px;
    border-left-width:20px;
    font-size: 1.5em;
}
.items div{
    padding:0 2% 1% 2%;
    margin: 1%;
    border: 3px solid rgb(22, 175, 175);
    background-color: #fff;
    box-shadow: 6px 6px rgb(22, 175, 175);
}
@media only screen and (max-width: 900px) {
    html{
        overflow-x: hidden;
    }
    .nav li{
        width: 100%;
        display: none;
        overflow: hidden;
    }
    .openMenu li{
        display: block;
    }
    label{
        display: inline-flex;
        padding-bottom:1% ;
    }
    .openMenu{
        display: block;
    }
    .openMenu li{
        width: 100%;
       align-items: center;
    }
    .img{
        height: 40vh;
    }
    .img button{
        position: relative;
        width:50%;
    }
    .items{
        position: relative;
        width: 100%;
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin: 90% 0 0 0;
    }
    .text{
        position: relative;
        width: 80%;
        transform: translate(-18%);
        padding: 1% 0 1% 1%;
    }
    .blob,.blob2{
        display: none;
    }

}